<nav class="navbar navbar-expand-lg navbar-dark" style="background: #0d2230">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">DailySpend</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="nav" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add" routerLinkActive="active">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transactions" routerLinkActive="active">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="alert alert-secondary py-2 my-2 small">
    <strong>API:</strong> {{ msg }}
  </div> -->
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>